{% extends '@RabbleAdmin/Layout/base.html.twig' %}
{% trans_default_domain 'RabbleContentBundle' %}
{% block title %}{{ 'menu.content.index'|trans }}{% endblock %}
{% macro content_type_label(contentType) %}
    {%- set translationDomain = 'messages' -%}
    {%- if contentType.hasAttribute('translation_domain') -%}
        {%- set translationDomain = contentType.getAttribute('translation_domain') -%}
    {%- endif -%}
    {%- set label = 'menu.content.' ~ contentType.name -%}
    {%- if contentType.hasAttribute('label_' ~ app.request.locale) -%}
        {%- set label = contentType.getAttribute('label_' ~ app.request.locale) -%}
        {%- set translationDomain = false -%}
    {%- endif -%}
    {%- if translationDomain -%}
        {{ label|trans([], translationDomain) }}
    {%- else -%}
        {{ label }}
    {%- endif -%}
{% endmacro %}
{% block page_content %}
    <div class="row mb-2">
        <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2 mb-2">
            <div class="row">
                <div class="col-12">
                    <div class="dropdown">
                        <button class="btn btn-info btn-block dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-plus-circle"></i> {{ 'content.create'|trans }}
                        </button>
                        <ul class="dropdown-menu">
                            {% for contentType in contentTypes %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('rabble_admin_content_create', {contentType: contentType.name, parent: rootNode.uuid}) }}">
                                        {{ _self.content_type_label(contentType) }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mB-20">
            {% include '@RabbleAdmin/flash_messages.html.twig' with {mb: 3} only %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20 w-100p">
                {% set contentTypeData = {} %}
                {% for contentType in contentTypes %}
                    {% set label %}{{ _self.content_type_label(contentType) }}{% endset %}
                    {% set contentTypeData = contentTypeData|merge({(contentType.name): label}) %}
                {% endfor %}
                <div class="content-structure"
                     data-tree="{{ treeData|json_encode }}"
                     data-content-types="{{ contentTypeData|json_encode }}"
                     data-move-url="{{ path('rabble_admin_content_structure_set_parent') }}"
                     data-root-id="{{ rootNode.uuid }}"></div>
            </div>
        </div>
    </div>
{% endblock %}