{% macro content_block_label(contentBlock) %}
    {%- if contentBlock.hasAttribute('label_' ~ app.request.locale) -%}
        {%- set label = contentBlock.getAttribute('label_' ~ app.request.locale) -%}
    {%- elseif contentBlock.hasAttribute('translation_domain') -%}
        {%- set label = ('content_block.' ~ contentBlock.name)|trans([], contentBlock.getAttribute('translation_domain')) -%}
    {%- else -%}
        {%- set label = contentBlock.name -%}
    {%- endif -%}
    {{ label }}
{% endmacro %}

{% block rabble_content_block_collection_widget %}
    {% for blockName, prototype in prototypes %}
        {%- set attr = attr|merge({('data-prototype-' ~ blockName): form_row(prototype) }) -%}
    {% endfor %}
    {{- block('form_widget') -}}
{% endblock %}

{% block rabble_content_block_item_label %}
    <span class="badge bg-secondary float-end py-1 px-2">{{ label }}</span>
{% endblock %}

{% block rabble_slug_widget %}
    <div class="row">
        <div class="col" style="flex: calc(100% - 65px);">
            {{- block('form_widget') -}}
        </div>
        <div class="col reload-slug" data-content="{{ document.parent.uuid|default }}" data-title="{{ title_id|default }}" data-resolver="{{ path('rabble_admin_content_provide_slug') }}" data-field="{{ id }}"></div>
    </div>
{% endblock %}

{% block content_list_configuration_widget %}
    {% set form_widget = block('form_widget') %}
    <div class="content-list-configure"
         data-form="{{ form_widget }}"
         data-label="{{ label }}"
         data-id="{{ id }}"
         data-save="Save"
         data-configure="Configure"
    ></div>
{% endblock %}

{% block rabble_content_block_collection_row %}
    <div class="rabble-content-blocks form-group" data-items="{{ form.children|length }}">
        {{ form_label(form) }}
        {{ form_widget(form) }}

        {% set hidden = form.vars.max_size is not null and form.children|length >= form.vars.max_size %}
        <div class="dropdown"{% if hidden %} style="display: none"{% endif %}>
            {% if content_blocks|length > 1 %}
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-plus-circle"></i> Add
                </button>
                <ul class="dropdown-menu">
                    {% for contentBlock in content_blocks %}
                        <li>
                            <a class="dropdown-item content-block-add" data-content-block="{{ contentBlock.name }}" href="#" data-prototype-name="{{ prototype_name }}">
                                {{ _self.content_block_label(contentBlock) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% elseif content_blocks|first %}
                {% set contentBlock = content_blocks|first %}
                <button class="btn btn-primary content-block-add" data-content-block="{{ contentBlock.name }}" data-prototype-name="{{ prototype_name }}" type="button">
                    <i class="fa fa-plus-circle"></i> Add {{ _self.content_block_label(contentBlock) }}
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}