{% extends '@RabbleAdmin/Layout/base.html.twig' %}
{% trans_default_domain 'RabbleContentBundle' %}
{% block title %}{{ ('menu.content.' ~ action)|trans }}{% endblock %}
{% set fields = [] %}
{% for field in form.children|merge(form.properties.children) %}
    {% if field.vars.component is defined %}
        {% set component = field.vars.component %}
        {% if component not in fields|keys %}
            {% set fields = fields|merge({(component): []}) %}
        {% endif %}
        {% set fields = fields|merge({(component): fields[component]|merge({(field.vars.name): field})}) %}
    {% endif %}
{% endfor %}
{% block page_content %}
    {{ form_start(form) }}
    <div class="row mb-2">
        <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-2">
            {% set returnUrl = path('rabble_admin_content_index', { contentType: contentType.name }) %}
            {% if content.parent is not null %}
                {% set returnUrl = path('rabble_admin_content_structure_index') %}
            {% endif %}
            <a href="{{ returnUrl }}"
               class="btn btn-secondary mr-2 btn-block h0"><i
                        class="fa fa-arrow-circle-left"></i> {{ 'back'|trans }}</a>
            <button type="submit" class="btn btn-info btn-block"><i
                        class="fa fa-check"></i> {{ 'form.submit'|trans }}</button>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10">
            {% if form.vars.submitted and not form.vars.valid %}
                <div class="alert alert-danger alert-dismissible fade show">
                    {{ 'content.form.contains_errors'|trans }}
                </div>
            {% else %}
                {% include '@RabbleAdmin/flash_messages.html.twig' %}
            {% endif %}
        </div>
    </div>
    {{ rabble_admin_ui(gridRow) }}
    {{ form_end(form) }}
{% endblock %}